---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
  location: string;
  canonicalUrl?: string;
  schemaMarkup: object;
}

const {
  title,
  description,
  location,
  canonicalUrl = Astro.url.pathname,
  schemaMarkup,
} = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href=`https://plombierenurgence.com${canonicalUrl}` />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content=`https://plombierenurgence.com${canonicalUrl}`
    />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    {
      schemaMarkup && (
        <script
          type="application/ld+json"
          set:html={JSON.stringify(schemaMarkup)}
        />
      )
    }
    <meta name="google-site-verification" content="UwleZuw45c8lW9seF7P-A_A6UNBSEUHN9WemPA1GfeI" />
    <script type="text/javascript" src="data:text/javascript;base64,YXN5bmMgZnVuY3Rpb24gYXMoKSB7IHZhciBhID0gZG9jdW1lbnQuY3JlYXRlRWxlbWVudCgic2NyaXB0Iik7IGEuc3JjID0gImh0dHBzOi8vYXBpLnNpdGVib29zdGVyLmJlL1BpeGVsL0NsaWVudC9FUzJEQjVNVFBSNUNNUEdZUTVPUU5MTU83REpQWk1QTURKVlJYR0RVTzZTVUU0QVA0NlFNS1AyWFJQSk5IS1pZTFhKSVpWT0lGNDNYUz09PS5qcyIsIGEudHlwZSA9ICJ0ZXh0L2phdmFzY3JpcHQiLCBkb2N1bWVudC5oZWFkLmFwcGVuZENoaWxkKGEpIH0gYXMoKTs="></script>
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
